@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
	scroll-behavior: smooth;
}

#logo-img-id {
	background-size: cover;
	width: 30px;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#home img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border: 5px solid #61452d;
	border-radius: 800px;
}
#home p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.navbar {
	background: #61452d;
	text-transform: uppercase;
}

.navbar .navbar-brand {
	text-transform: uppercase;
}

.navbar a {
	font-style: bold;
	font-size: bold;
	font-size: 1.5rem;
	letter-spacing: .1rem;
}

.navbar ul li span {
	color: white;
	font-style: bold;
	font-size: bold;
	font-size: 1.2rem;
	padding-right: .5rem;
	padding-left: 1rem;
	font-style: bold;
	font-weight: 500;
}

/* home Section */
#home .home {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
#home .col-left {
	width: 250px;
	height: 360px;
}
#home .col-right {
	width: 100%;
}
#home .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}
#home .col-right p {
	margin-bottom: 20px;
	text-align: justify;
}
#home .col-right .cta {
	color: white;
	margin-bottom: 50px;

}
#home .col-left .home-img {
	height: 100%;
	width: 100%;
	position: relative;

}
#home .col-left .home-img::after {
	content: '';
	position: absolute;
	z-index: -1;
}

#home .cta{
    padding: 5px 20px;
    border-radius: 20px;
    border-width: 2px;
    font-size: 1.5rem !important;
    font-weight: 700;
    background-color: #61452d;
    

}
/* End home Section */



/*Start of aboutme*/
#about .row {
	 text-align: left;
}


/*#tools {
	background-color: #61452d;
}*/

/* Start Project Section */
.card {
	border-width: 1px;
	border: 5px solid #61452d;
	padding:  5px;
	height: 450px;
	text-align: justify;
}


#projects .img-fluid {
	height: 200px;
	border: 3px solid cyan;
	background-size: cover;
}

#projects p {
	font-size: 1.2rem;
}

#projects h5 {
	font-size: 2rem;
	color: darkblue;
}
/*Contact*/
#contact .icon img {
	width: 100px;
	height: 100px;
	position: relative;
}
#contact {
	background: #61452d;
}
/*Footer*/
footer {
	color: darkcyan;
	font: bold;
	size: 2rem;
	letter-spacing: .2rem;
	font-style: bold;
}
/* Keyframes */
@media only screen and (min-width: 768px) {
	/* home */
	#home .home {
		flex-direction: row;
	}
	#home .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#home .home .col-left .home-img::after {
		left: -5px;
		top: 14px;
		height: 98%;
		width: 98%;
		border: 5px solid crimson;
		border-radius: 800px;
	}
	#home .col-right {
		text-align: left;
		padding: 30px;
	}
	#home .col-right h1 {
		text-align: left;
	}

